*{
    margin:0;
    padding: 0;
    font-family: sans-serif; box-sizing: border-box ;
    text-align: center;
}
body{
    height: 100vh;
    background:url(mobilelegend.jpg);
    background-size: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    
}
header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #000;
    background-attachment: fixed;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    
}
header ul li:hover{
    background: linear-gradient(rgb(90, 0, 90),yellow);
    color: #000;
}
header ul li:nth-child(2){
    border-top: 4px solid yellow;

}
table{
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    text-align: center;
}
caption{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 5px;
    color: yellow;
    background-color: purple;
}
td{
    padding: 30px;
    text-align: center;
    color: yellow;
    
}
th{
    color: purple;
    background-color: yellow;
}
#div1{
    text-align: center;
}
#p1{
    font-weight: bold; background-color: aquamarine;border: 5px solid blue;
}
#p2{
    font-weight: bold; background-color: pink; border: 5px solid red;
}